spring:
  application:
    name: customer-service

  datasource:
    url: jdbc:postgresql://localhost:5432/dbs_customer_db
    username: dbs_user
    password: dbs_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8081
  error:
    include-message: always